<header class=" top-0 left-0 right-0 bg-white shadow-sm z-50" style="position: sticky">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-20">
            <div class="flex items-center">
                <a href="#" class="text-3xl font-['Pacifico'] text-primary">
                  <img src="assets/img/logo2.png" alt="mylogo" style="width: 25%">
                </a>
            </div>
            <nav class="hidden md:flex space-x-8">
              <a href="#dashboard" class="text-gray-700 hover:text-primary">Tableau de bord</a>
              <a href="#creer-elements" class="text-gray-700 hover:text-primary">Créer des éléments</a>
              <a href="#vehicules" class="text-gray-700 hover:text-primary">Gestion des véhicules</a>
              <a href="#reservations" class="text-gray-700 hover:text-primary">Réservations</a>
          </nav>          
        </div>
    </div>
</header>
