manager : manager&#64;garage.com ; 123456
<br>
mecanicier : mecanicien&#64;garage.com ; 123456
<br>
cleint : client1&#64;garage.com ; 123456

<div class="main">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
          <a routerLink="/inscription" class="signup-image-link">S'inscrire</a>
        </div>

        <div class="signin-form">
          <h2 class="form-title">Se connecter</h2>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="register-form" id="login-form">
            <div class="form-group">
              <label for="email">
                <i class="bi bi-person"></i>
              </label>
              <input type="email" formControlName="email" id="email" placeholder="Votre email"/>

            </div>
            @if (!email?.valid && (email?.dirty || email?.touched)) {
              @if (email?.errors?.['required']) {
              <span style="color:red">Veuillez entrez votre email 😊</span>
              }
            }
            <div class="form-group">
              <label for="password">
                <i class="bi bi-key"></i>
              </label>
              <input type="password" formControlName="password" id="password" placeholder="Mot de passe"/>
            </div>
            @if (!password?.valid && (password?.dirty || password?.touched)) {
              <span style="color:red">Veuillez entrez votre mot de passe 😊</span>
            }

            <div class="form-group form-button">
              <input type="submit" name="signin" id="signin" class="form-submit" [disabled]="loginForm.invalid" value="Se connecter"/>
            </div>

          </form>

        </div>
      </div>
    </div>
  </section>
</div>
